# Ignore node_modules and test results
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/.vscode
.env

# Ignore allure report and results
allure-report
allure-results
pulse-report

# Ignore folder structure file
/report/folderStructure.json

# Ignore allure configuration
.allure

# Ignore screenshots
/screenshots/current/*
/screenshots/diff/*
/screenshots/baseline/desktop/*
/screenshots/baseline/mobile/*

# Ignore txt files
eng.traineddata